body{
    margin : 0;
    padding: 0;
    height: 500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33e1c3+0,326bac+100 */
    background: #33e1c3; /* Old browsers */
    background: -moz-linear-gradient(top, #33e1c3 0%, #326bac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #33e1c3 0%,#326bac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #33e1c3 0%,#326bac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33e1c3', endColorstr='#326bac',GradientType=0 ); /* IE6-9 */
    background-repeat:no-repeat;    
}

.wrap{
    margin-top: 180px;
}

h3{
    color:white;
    text-align: center;
}

.btn{
    width: 100px;
    height: 21px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#326bac+0,33e1c3+100 */
    background: #326bac; /* Old browsers */
    background: -moz-linear-gradient(left, #326bac 0%, #33e1c3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #326bac 0%,#33e1c3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #326bac 0%,#33e1c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326bac', endColorstr='#33e1c3',GradientType=1 ); /* IE6-9 */
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 60px;
    line-height: 21px;  
}

p{
    text-align: center;
    font-size: 15px;
    color:white;
}

a{
    text-decoration: none;
    color: antiquewhite;
}

.sosmed{
    width: 400px;
    height: 42px;
    background: white;
    border-radius: 35px;
    margin: 18px auto;

}
