body{
    margin : 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #31465A;
}

.wrap{
    margin-top: 180px;
}

h3{
    color: #8798AA;
    text-align: center;
}

.btn{
    width: 100px;
    height: 21px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4693bb+0,75ceef+100 */
    background: #4693bb; /* Old browsers */
    background: -moz-linear-gradient(45deg, #4693bb 0%, #75ceef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #4693bb 0%,#75ceef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #4693bb 0%,#75ceef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4693bb', endColorstr='#75ceef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    text-align: center;
    margin: auto;
    padding: 10px;
    border-radius: 60px;
    line-height: 21px;  
}

p{
    text-align: center;
    font-size: 20px;
    color:#8798AA;
}

a{
    text-decoration: none;
    color: antiquewhite;
}
